
android/build/build/outputs/apk/debug/android_debug.apk
*.apk
*.apk
android/build/build/intermediates/merged_jni_libs/monoDebug/out/godot-lib.template_debug.aar
*.aar
*.aar
*.aar
*.aar
*.jar
android/build/build/intermediates/merged_jni_libs/monoDebug/out/godot-lib.template_debug.aar
android/build/libs/debug/godot-lib.template_debug.aar
android/build/libs/release/godot-lib.template_release.aar
